<template>
  <div class="cartelera">
        <div class="main-panel">
			<div class="content content-full">
				<div class="page-inner">
                    <div class="collapse float-right" id="search-nav">
                        <form @submit.prevent="ShowUsuarios(1, searchTable)" class="navbar-left navbar-form nav-search">
                            <div class="input-group bg-white">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pr-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." v-model="searchTable" class="form-control">
                            </div>
                        </form>
                    </div>
                     <!-- <button class="btn btn-xs btn-primary btn-round float-right" data-toggle="modal" data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Invitar a otros
                    </button> -->
					<div class="page-header">
						<h4 class="page-title"><i class="fa fa-bullhorn"></i> Cartelera Institucional</h4>
					</div>
					<div class="row row-projects">
						<div class="col-sm-6 col-lg-9">
                            <div class="row row-projects">
                                <div class="col-sm-6 col-lg-6">
                                    <div class="card">
                                        <div class="pl-2 pt-2 pr-2">
                                            <div class="card-list">
                                                <div class="item-list">
                                                    <div class="avatar avatar-sm">
                                                        <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="info-user ml-3">
                                                        <div class="username">Jimmy Denis</div>
                                                        <div>Last updated: Yesterday 3:12 AM</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-2">
                                            <h4 class="mb-1 fw-bold">Play Golf</h4>
                                            <p >Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                            <div class="avatar-group">
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/chadengle.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/mlane.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="card">
                                        <div class="pl-2 pt-2 pr-2">
                                            <div class="card-list">
                                                <div class="item-list">
                                                    <div class="avatar avatar-sm">
                                                        <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="info-user ml-3">
                                                        <div class="username">Jimmy Denis</div>
                                                        <div>Last updated: Yesterday 3:12 AM</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-2">
                                            <h4 class="mb-1 fw-bold">Play Golf</h4>
                                            <p >Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                            <div class="avatar-group">
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/chadengle.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/mlane.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="card">
                                        <div class="pl-2 pt-2 pr-2">
                                            <div class="card-list">
                                                <div class="item-list">
                                                    <div class="avatar avatar-sm">
                                                        <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="info-user ml-3">
                                                        <div class="username">Jimmy Denis</div>
                                                        <div>Last updated: Yesterday 3:12 AM</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-2">
                                            <h4 class="mb-1 fw-bold">Play Golf</h4>
                                            <p >Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                            <div class="avatar-group">
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/chadengle.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/mlane.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="card">
                                        <div class="pl-2 pt-2 pr-2">
                                            <div class="card-list">
                                                <div class="item-list">
                                                    <div class="avatar avatar-sm">
                                                        <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="info-user ml-3">
                                                        <div class="username">Jimmy Denis</div>
                                                        <div>Last updated: Yesterday 3:12 AM</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-2">
                                            <h4 class="mb-1 fw-bold">Play Golf</h4>
                                            <p >Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                            <div class="avatar-group">
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/jm_denis.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/chadengle.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                                <div class="avatar avatar-xs">
                                                    <img src="@/assets/img/mlane.jpg" alt="@." class="avatar-img rounded-circle border border-white">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row float-right">
                                <div class="col-sm-6">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
							<div class="card">
								<div >
									<img width="100px" class="card-img rounded" src="@/assets/img/cartelera.svg" alt="Product 3">
								</div>
                                <div class="p-2">
                                    <form action="">
                                        <div class="row">
                                            
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <h4 class="mb-1 fw-bold">Nueva publicación</h4>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Título" class="form-control" name="titulo" id="">
                                                </div>
                                                <div class="form-group">
                                                    <textarea placeholder="Descripción" class="form-control"  name="descripcion" id="" ></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 col-md-9 col-sm-8 d-flex align-items-center">
                                                        <div class="row">
                                                            <div class="col-sm-7">
                                                                <div class="custom-control custom-radio" style="width:150px">
                                                                    <input type="radio" id="todos" name="tipo" class="custom-control-input">
                                                                    <label class="custom-control-label" for="todos">Todos</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="custom-control custom-radio" style="width:50px">
                                                                    <input type="radio" id="usuarios" name="tipo" class="custom-control-input">
                                                                    <label class="custom-control-label" for="usuarios">Usuarios</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="custom-control custom-radio" style="width:70px">
                                                                    <input type="radio" id="cargos" name="tipo" class="custom-control-input">
                                                                    <label class="custom-control-label" for="cargos">Cargos</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="custom-control custom-radio" style="width:70px">
                                                                    <input type="radio" id="grupos" name="tipo" class="custom-control-input">
                                                                    <label class="custom-control-label" for="grupos">Grupos</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <select name="selec_tipo" class="form-control form-control-sm " id="">
                                                        <option value="">Seleccionar</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="">Publicación</label>
                                                            <input type="text" placeholder="Fecha" class="form-control" name="titulo" id="">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="">Finalización</label>
                                                            <input type="text" placeholder="Fecha" class="form-control" name="titulo" id="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropzone dz-clickable dz-message" data-dz-message="">
                                                    <h4 class="message">Arrastra y suelta archivos aquí</h4>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-secondary btn-sm btn-block">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    <!-- <HelloWorld msg="About to Your Vue.js App"/> -->
  </div>
</template>

<script>
import store from '@/store'
import {HTTP} from '@/http-common'

export default {
  name: 'about',
  store,
  props: {
        notificacion: { type: Function }
  },
  data(){
      return{
          tabledatos: [],
          detallesTable: [],
          searchTable : '',
          paginations : '',
          total_pag : '',
          mensaje: '',
          cargos:{
              id: '',
              descripcion: '',
              estado: ''
          }
      }
  },
  mounted() {
    this.ShowCargos()
	if (!this.$session.exists()) {
        this.$router.push('/login')
    }
  },
  methods: {
      ShowCargos : function (pag = 1, text = this.searchTable){
        this.$store.state.isLoading = true
        HTTP.get('api/Cargos/ListAll?numeroPagina='+pag+'&texto='+text)
        .then(response => {
        this.tabledatos = response.data.cargos
        this.detallesTable = response.data.pager
        this.$store.state.isLoading = false
        })
        .catch(error => {
            this.$store.state.isLoading = false
            if (error.message !== "Network danger") {
                //this.notificacion('Error',error.response.data.message, 'error')
                this.mensaje = error.response.data.message
            }else{
                this.notificacion('Error',error, 'danger')
            }
        })
    },
    goBack: async function () {
        window.history.back();
    },
    NuevoRegistro: async function () {
        this.cargos.id = 0
        this.cargos.descripcion = ''
        this.cargos.estado = ''
    },
    EditarRegistro : async function (consec){
        this.cargos.id = consec
        HTTP.get('/api/Cargos/GetByID/'+this.cargos.id)
        .then(response => {
        this.$refs.botonModal.click()
        this.cargos.id = response.data.id 
        this.cargos.descripcion = response.data.descripcion 
        this.cargos.estado = response.data.estado
        this.$store.state.isLoading = false
        })
        .catch(error => {
            if (error.message !== "Network danger") {
                //this.notificacion('Error',error.response.data.message, 'error')
                this.mensaje = error.response.data.message
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
            }
        })
    },
    GuardarCargos : async function (){
        let params = {
                id : this.cargos.id,
                descripcion : this.cargos.descripcion,
                estado : this.cargos.estado
        }
        HTTP.post('/api/Cargos/Create', params)
        .then(response => {
        this.$refs.closeModal.click()
        this.ShowCargos()
        this.cargos.response = response.data
        this.$store.state.isLoading = false
        this.notificacion('Aviso',response.data.message, "success")
        })
        .catch(error => {
            if (error.message !== "Network danger") {
                this.$refs.closeModal.click()
                this.notificacion('Error',error.message, 'error')
                //this.mensaje = error.data.message
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
            }
        })
    }
  }
//   components: {
//     HelloWorld
//   }
}
</script>
