<template>
  <div class="accountsetting">
    <div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Configuración de cuenta</h4>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-2">
                                            <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd nav-pills-icons" id="v-pills-tab-with-icon" role="tablist" aria-orientation="vertical">
                                                <a class="nav-link active show" @click="editperfil" id="v-pills-profile-tab-icons" data-toggle="pill" href="#v-pills-profile-icons" role="tab" aria-controls="v-pills-profile-icons" aria-selected="false">
                                                    <i class="flaticon-user-4"></i>
                                                    Editar perfil
                                                </a>
                                                <a class="nav-link" id="v-pills-home-tab-icons" @click="changepassword" data-toggle="pill" href="#v-pills-home-icons" role="tab" aria-controls="v-pills-home-icons" aria-selected="true">
                                                    <i class="flaticon-lock"></i>
                                                    Cambiar contraseña
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-10">
                                            <div class="tab-content" id="v-pills-with-icon-tabContent">
                                                <div class="tab-pane fade active show" id="v-pills-profile-icons" role="tabpanel" aria-labelledby="v-pills-profile-tab-icons">
                                                    <router-view :notificacion="notificacion"></router-view>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
    </div>
  </div>  

</template>

<script>
import store from '@/store'
export default {
    name: 'resetpassword',
    store,
    components:{
        
    },
    data(){
        return {
            
        }
    },
    props: {
        notificacion: { type: Function },
    },
    mounted() {
        if (!this.$session.exists()) {
            this.$router.push('/login')
        }else{
          this.user = this.$session.getAll().undefined.usuario.usuario
        }
    },
    methods: {
        changepassword: function() {
            this.$router.push('/accountsetting/changepassword')
        },
        editperfil: function() {
            this.$router.push('/accountsetting/editperfil')
        },
    },
}
</script>
