<template>
    <div>
        <div class="row animated fadeIn">
            <div class="col-md-8">
                <h4 class="page-title">
                    <i class="flaticon-lock"></i>
                    Cambiar contraseña
                    </h4>
                <span>Se recomienda usar una contraseña segura que no uses para ningún otro sitio</span>
                <hr>
                <form @submit.prevent="resetpassword">
                    <div class="form-group form-floating-label">
                        <input type="password" v-model="recover.passwordold" id="passwordold" name="passwordold" class="form-control input-border-bottom" required>
                        <label for="passwordold" class="placeholder"> Contraseña anterior</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input :type="pass" v-model.trim="$v.recover.password.$model" id="password" name="password" class="form-control input-border-bottom" required>
                        <label for="password" class="placeholder"> Nueva contraseña</label>
                        <div @click="showHidepass" class="show-password">
                            <i class="flaticon-interface"></i>
                        </div>
                    </div>
                    <div class="text-primary" v-if="!$v.recover.password.minLength">La contraseña debe tener mínimo {{ $v.recover.password.$params.minLength.min }} caracteres.</div>
                    <div class="form-group form-floating-label">
                        <input id="confirmpassword" v-model.trim="$v.recover.repeatPassword.$model" name="confirmpassword" type="password" class="form-control input-border-bottom" required>
                        <label for="confirmpassword" class="placeholder">Confirmar nueva contraseña</label>
                        <div @click="showHidepass" class="show-password">
                            <i class="flaticon-interface"></i>
                        </div>
                    </div>
                    <div class="text-primary" v-if="!$v.recover.repeatPassword.sameAsPassword">La contraseña no coincide.</div>
                    <br>
                    <button class="btn btn-success float-right" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import { required, sameAs, minLength } from 'vuelidate/lib/validators'
import store from '@/store'
import {HTTP} from '@/http-common'
export default {
    name: 'resetpassword',
    store,
    data(){
        return {
            pass : 'password',
            user : '',
            recover:{
                passwordold: '',
                password: '',
                repeatPassword: '',
            }
        }
    },
    validations: {
    recover:{
            password: {
                required,
                minLength: minLength(6)
            },
            repeatPassword: {
                sameAsPassword: sameAs('password')
            }
        }
    },
    props: {
        notificacion: { type: Function },
    },
    mounted() {
        if (!this.$session.exists()) {
            this.$router.push('/login')
        }else{
          this.user = this.$session.getAll().undefined.usuario.usuario
        }
    },
    methods: {
        resetpassword: async function(){
        this.submitted = true;
            // stop here if form is invalid
            this.$v.$touch();
            if (this.$v.$invalid) {
            this.notificacion('<h3>Error</h3>','Asegurese que todos los campos esten correctamente diligenciados.', 'danger')
            }else{

                this.$store.state.isLoading = true

                let params = {
                        Email : this.user,
                        Password : this.recover.passwordold,
                        newpassword : this.recover.password
                }
                HTTP.post('api/account/ChangePassword', params)
                .then(response => {
                this.response = response.data
                this.$store.state.isLoading = false
                if (response.data.success) {
                    this.notificacion('Hecho! ',response.data.message)
                    this.recover.passwordold = ''
                    this.recover.password = ''
                    this.recover.repeatPassword = ''
                    //this.redirecionar()
                }else{
                    this.notificacion('Error!',response.data.message, 'danger')
                }
                
                })
                .catch(error => {
                    if (error.message !== "Network Error") {
                        this.notificacion('Error',error.response.data.message, 'danger')
                        this.$store.state.isLoading = false
                    }else{
                        this.notificacion('Error',error, 'danger')
                        this.$store.state.isLoading = false
                    }
                    
                }) 

            }
        },
        showHidepass: function(){
            this.pass = this.pass === 'password' ? 'text' : 'password'
        },
       redirecionar: function(){
           setTimeout(function(){ 
               window.location.href ='/login' 
            }, 2000);
       },
    },
}
</script>