<template>
    <div class="animated fadeIn">
        <form @submit.prevent="editarPerfil" id="formusuario">
            <h4 class="page-title">
                <i class="flaticon-user-4"></i>
                Editar perfil
                </h4>
            <span>Agregar información para compartir en su perfil</span>
            <hr>
            <div class="card-body">
                <div class="form-group form-show-validation row">
                    <label class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Subir imagen <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <div v-if="usuario.logoimagen == null" class="input-file input-file-image">
                            <img style="cursor:pointer"  ref="image" class="img-upload-preview img-circle" @click="uploadImg" width="100" height="100" :src="logoimagen" alt="preview">
                            <!-- <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required=""> -->
                        </div>
                        <div v-else class="input-file input-file-image">
                            <img style="cursor:pointer"  ref="image" class="img-upload-preview img-circle" @click="uploadImg" width="100" height="100" :src="usuario.logoimagen" alt="preview">
                            <!-- <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required=""> -->
                        </div>
                        <div class="text-center">
                            
                        </div>
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Número de Identificación <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <input type="text" v-model="usuario.identificacion" class="form-control" placeholder="Enter Username" required="">
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Primer Nombre <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <div class="input-group">
                            <input type="text" v-model="usuario.nombre1" class="form-control text-capitalize" placeholder="Primer Nombre" aria-label="username" aria-describedby="username-addon" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right ">Segundo Nombre <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <div class="input-group">
                            <input type="text" v-model="usuario.nombre2" class="form-control text-capitalize" placeholder="Segundo Nombre" aria-label="username" aria-describedby="username-addon" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Primer Apellido <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <div class="input-group">
                            <input type="text" v-model="usuario.apellido1" class="form-control text-capitalize" placeholder="Primer Apellido" aria-label="username" aria-describedby="username-addon" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Segundo Apellido <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <div class="input-group">
                            <input type="text" v-model="usuario.apellido2" class="form-control text-capitalize" placeholder="Segundo Apellido" aria-label="username" aria-describedby="username-addon" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Correo electrónico <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <input type="email" v-model="usuario.email" disabled class="form-control" id="email" placeholder="Enter Email" required="">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                    </div>
                </div>
                <div class="separator-solid"></div>
                <div class="form-group form-show-validation row">
                    <label for="password" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Fecha de nacimiento <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <datepicker :bootstrap-styling="true" :name="'FechaNac'" :value="usuario.fechaNac">
                            <div slot="beforeCalendarHeader" class="calender-header">
                                Seleccione la fecha de nacimiento
                            </div>
                        </datepicker>
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="password" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Teléfono <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <input type="text" v-model="usuario.telefono" class="form-control" id="telefono" required maxlength="60" placeholder="Teléfono" >
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="password" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Dirección de residencia <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <input type="text" v-model="usuario.direccion" class="form-control" id="direccion" required maxlength="60" placeholder="Dirección de residencia" >
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="confirmpassword" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Departamento <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <select @change="municipios($event)" required style="height:40px" v-model="usuario.departamento" class="form-control" name="" id="" >
                            <option value="">Seleccionar</option>
                            <option v-for="item in depto" :key="item.id" :value="item.id">
                                {{item.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-show-validation row">
                    <label for="confirmpassword" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Municípios <span class="required-label">*</span></label>
                    <div class="col-lg-4 col-md-9 col-sm-8">
                        <select required style="height:40px" class="form-control" v-model="usuario.municipio" name="" id="MunicipioId" >
                            <option >Seleccionar</option>
                            <option v-for="item in municipio" :key="item.id" :value="item.id">
                                {{item.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col-lg-7 col-md-3 col-sm-4 mt-sm-2 text-right">
                        <input class="btn btn-primary" value="Actualizar perfil" type="submit">
                    </div>										
                </div>
            </div>
        </form>
        <!-- Button trigger modal -->
        <button type="button" ref="btn_modal_imagen" style="display:none" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" role="dialog" data-backdrop="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ref="close_modal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center>
                        <vue-avatar
                        :width=400
                        :height=400
                        :rotation="rotation"
                        :scale="scale"
                        ref="vueavatar"
                        @vue-avatar-editor:image-ready="onImageReady"
                        >
                        </vue-avatar>
                    </center>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" v-on:click="saveClicked">Recortar</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import store from '@/store'
import {HTTP} from '@/http-common'
import {VueAvatar} from 'vue-avatar-editor-improved'
import Datepicker from 'vuejs-datepicker'
export default {
    components: 
    { 
        VueAvatar,
        Datepicker
    },
    props: {
        notificacion: { type: Function }
    },
    store,
    data() {
        return {
            rotation: 0,
            scale: 1,
            borderRadius: 0,
            identificacion: '',
            nombre1: '',
            nombre2: '',
            apellido1 : '',
            apellido2: '',
            email: '',
            depto: [],
            municipio: [],
            actualizado: [],
            logoimagen: 'http://placehold.it/100x100',
            userAvatar: undefined,
            usuario:{
              identificacion: '',
              nombre1: '',
              nombre2: '',
              apellido1: '',
              apellido2: '',
              email : '',
              telefono : '',
              direccion : '',
              fechaNac : '',
              logoimagen: '',
              departamento : '',
              municipio : '',
              nacimiento : '',
              view: false,
              response: []
          },
        }
    },
    update(){
        if (localStorage.getItem('actualizado')) 
        {
            this.actualizado = JSON.parse(localStorage.getItem('actualizado'));
            this.nombre1= this.actualizado.Nombre1
            this.nombre2= this.actualizado.Nombre2
            this.apellido1 = this.actualizado.Apellido1
            this.apellido2= this.actualizado.Apellido2
            this.email= this.actualizado.Email
            this.avatar = "http://siscolsi.com.co/LEAF/"+this.actualizado.Avatar
        }
    },
    mounted(){

    if (localStorage.getItem('actualizado')) 
    {
        this.departamentos()
        this.actualizado = JSON.parse(localStorage.getItem('actualizado'));
        this.usuario.identificacion= this.actualizado.Identificacion
        this.usuario.nombre1= this.actualizado.Nombre1
        this.usuario.nombre2= this.actualizado.Nombre2
        this.usuario.apellido1 = this.actualizado.Apellido1
        this.usuario.apellido2= this.actualizado.Apellido2
        this.usuario.email= this.actualizado.Email
        this.usuario.telefono = this.actualizado.Telefono
        this.usuario.direccion = this.actualizado.Direccion
        this.usuario.fechaNac = this.actualizado.FechaNac
        this.usuario.departamento = this.actualizado.DepartamentoId
        this.usuario.municipio = this.actualizado.MunicipioId
        this.usuario.logoimagen = "http://siscolsi.com.co/LEAF/"+this.actualizado.Avatar
        this.default_municipios(this.usuario.departamento)
    }else if (this.$session.exists()) {
        this.departamentos()
        try {
            if (this.$session.getAll().undefined.Token) {
                this.token = this.$session.getAll().undefined.Token,
                this.usuario.identificacion= this.$session.getAll().undefined.usuario.identificacion,
                this.usuario.nombre1= this.$session.getAll().undefined.usuario.nombre1,
                this.usuario.nombre2= this.$session.getAll().undefined.usuario.nombre2,
                this.usuario.apellido1 = this.$session.getAll().undefined.usuario.apellido1,
                this.usuario.apellido2= this.$session.getAll().undefined.usuario.apellido2,
                this.usuario.email= this.$session.getAll().undefined.usuario.usuario
                this.usuario.telefono = this.$session.getAll().undefined.usuario.telefono
                this.usuario.direccion = this.$session.getAll().undefined.usuario.direccion
                this.usuario.fechaNac = this.$session.getAll().undefined.usuario.fechaNac
                this.usuario.departamento = this.$session.getAll().undefined.usuario.departamento
                this.usuario.municipio = this.$session.getAll().undefined.usuario.municipio
                this.usuario.logoimagen = "http://siscolsi.com.co/LEAF/"+this.$session.getAll().undefined.usuario.avatar
                //alert(JSON.stringify(this.$session.getAll().undefined))
                this.default_municipios(this.usuario.departamento)
                
            }
        } catch (e) {
            console.log(e)
            //window.location.href ='/login'
        }
    }
    },
    methods:{
        editarPerfil: async function(){
        this.submitted = true;
            this.$store.state.isLoading = true
        
            let ImageURL = this.$refs.image.src
            let blob = ""
            if (ImageURL !== "http://placehold.it/100x100" && ImageURL !== this.usuario.logoimagen ) {
                let block = ImageURL.split(";")
                let contentType = block[0].split(":")[1]
                let realData = block[1].split(",")[1]
                blob = this.b64toBlob(realData, contentType)
            }else{
                blob = null
            }
            

            let form = document.getElementById('formusuario')
            let formData = new FormData(form)

            formData.append("Identificacion", this.usuario.identificacion);
            formData.append("Email", this.usuario.email);
            formData.append("Nombre1", this.usuario.nombre1);
            formData.append("Nombre2", this.usuario.nombre2);
            formData.append("Apellido1", this.usuario.apellido1);
            formData.append("Apellido2", this.usuario.apellido2);
            formData.append("Telefono", this.usuario.telefono);
            formData.append("Direccion", this.usuario.direccion);
            formData.append("DepartamentoId", this.usuario.departamento);
            formData.append("MunicipioId", this.usuario.municipio);
            formData.append("Avatar", blob);

            HTTP.post('api/account/EditProfile', formData)
            .then(response => {
            this.usuario.response = response.data
            this.$store.state.isLoading = false
            this.$session.getAll().undefined.usuario.avatar = response.data.data.Avatar
            this.notificacion('Aviso',"Su usuario fue editado satisfactoriamente.")
            localStorage.setItem('actualizado', JSON.stringify(response.data.data));
            //alert(JSON.stringify(response.data.data.Avatar)+" "+this.$session.getAll().undefined.usuario.avatar)
            //this.$refs.closeModal.click()
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'danger')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'danger')
                    this.$store.state.isLoading = false
                }
                
            }) 

        },
        departamentos: function() {
        HTTP.get('api/departamentos')
            .then(response => {
            this.depto = response.data
            
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'error')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'error')
                    this.$store.state.isLoading = false
                }
                
            })
        },
        municipios: function(id){
            HTTP.get('api/municipios/departamento/'+id.target.value)
            .then(response => {
            this.municipio = response.data
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'error')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'error')
                    this.$store.state.isLoading = false
                }
                
            })
        },
        default_municipios: function(id){
            HTTP.get('api/municipios/departamento/'+id)
            .then(response => {
            this.municipio = response.data
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'error')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'error')
                    this.$store.state.isLoading = false
                }
                
            })
        },
        b64toBlob: function (b64Data, contentType, sliceSize) {
                contentType = contentType || '';
                sliceSize = sliceSize || 6000;

                var byteCharacters = atob(b64Data);
                var byteArrays = [];

                for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                    var slice = byteCharacters.slice(offset, offset + sliceSize);

                    var byteNumbers = new Array(slice.length);
                    for (var i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i);
                    }

                    var byteArray = new Uint8Array(byteNumbers);

                    byteArrays.push(byteArray);
                }

            var blob = new Blob(byteArrays, {type: contentType});
            return blob;
        },
        uploadImg: function(){
            this.$refs.btn_modal_imagen.click()
        },
        handleUploaded(resp) {
        this.userAvatar = resp.relative_url;
        },
        saveClicked: function saveClicked() {
            var img = this.$refs.vueavatar.getImageScaled();
            this.$refs.image.src = img.toDataURL();
            this.$refs.close_modal.click()
        },
        onImageReady: function onImageReady() {
            this.scale = 1;
            this.rotation = 0;
        },
        handlerError(message, type, xhr) {
            this.message = "Oops! Something went wrong..."+message+type+xhr;
        },
    }
}
</script>