<template>
    <div class="wrapper wrapper-login">
        <form @submit.prevent="sendRecover" v-if="this.view === 'recover'" class="container container-login animated fadeIn">
            <p class="text-center">
                <img src="@/assets/img/leafs.svg" width="200px" alt="">
            </p>
            <hr>
            <h3 class="text-center">Recuperación de la cuenta</h3>
            <div class="login-form">
                <div class="form-group form-floating-label">
                    <input v-model="recover.email" id="Correo electrónico" name="Correo electrónico" type="text" class="form-control input-border-bottom" required>
                    <label for="Correo electrónico" class="placeholder">Correo electrónico</label>
                </div>
                <div class="text-danger" v-if="!$v.recover.email.email">Email no válido.</div>
                <div class="form-action">
                    <button class="btn btn-secondary btn-rounded btn-login" type="submit">Enviar</button>
                    <a href="/login" id="show-signin" class="btn btn-danger btn-rounded btn-login mr-3">Cancelar</a>
                    <!-- <a href="#" class="btn btn-secondary btn-rounded btn-login">Iniciar sesion</a> -->
                </div>
            </div>
        </form>

        <div v-else-if="this.view === 'goSendMailRecover'">
            <div class="card card-invoice">
                <div class="card-footer">
                    <h2 class="text-uppercase text-center mt-4 mb-3 fw-bold">
                        <i class="far fa-envelope"></i>
                        Restablecer contraseña
                    </h2>
                    <div class="separator-solid"></div>
                    <p class="text-muted text-center mb-0">
                        Te Hemos enviado un correo electrónico con el nombre de usuario y un enlace para restablecer la contraseña,
                    </p>
                    <hr>
                    <div class="login-account text-center">
                        <a href="/login" id="show-signup" class="link"> Volver a la página principal</a>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="this.view === 'activar'">
            <activeRecover v-model="this.view"></activeRecover>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
import activeRecover from '@/components/recover/activeRecover.vue'
import { required, email } from 'vuelidate/lib/validators'
import store from '@/store'
import {HTTP} from '@/http-common'

export default {
  name: 'recover',
  store,
  components:{
    activeRecover
  },
  data (){
      return{
          view: 'recover',
          activar : '',
          recover:{
              email:'',
          },
          response: []
      }
  },
  validations: {
    recover:{
            email: {
                required,
                email
            }
        }
    },
    props: {
        notificacion: { type: Function },
    },
  mounted() {
      if (this.$route.query.token) {
          this.view = 'activar'
          this.$store.state.isLoading = true
          window.location.href ='/resetpassword?token='+this.$route.query.token
            
      }
  },
  computed: {
    ...mapState(['tabla']),
    
  },
  mutations: {
    llenarTabla(tablaAction){
        this.response = tablaAction
    }
  },
  methods: {
    sendRecover: async function(){
    this.submitted = true;
        // stop here if form is invalid
        this.$v.$touch();
        if (this.$v.$invalid) {
           this.notificacion('<h3>Error</h3>','Asegurese que todos los campos esten correctamente diligenciados.', 'danger')
        }else{

            this.$store.state.isLoading = true

            let params = {
                    email : this.recover.email
            }
            HTTP.post('api/account/RequestResetPassword', params)
            .then(response => {
            this.response = response.data
            this.$store.state.isLoading = false
            if (response.data.success) {
                this.notificacion('Hecho! ',response.data.message)
                this.view = 'goSendMailRecover'
            }else{
                this.notificacion('Error!',response.data.message, 'danger')
            }
            
            })
            .catch(error => {
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
                
            }) 

        }
    },
    ...mapActions(['saveRegister1'])
  }
}
</script>