<template>
    <div class="wrapper wrapper-login">
        <div style="width:400px"  class="card card-invoice">
            <div class="card-footer">
                <h2 class="mt-2">
                   <b>Cambiar contraseña </b>
                </h2>
                <p>Se recomienda usar una contraseña segura</p>
                <div class="separator-solid"></div>
                <form @submit.prevent="resetpassword">
                    <div class="form-group form-floating-label">
                        <input :type="pass" v-model.trim="$v.recover.password.$model" id="password" name="password" class="form-control input-border-bottom" required>
                        <label for="password" class="placeholder"> Nueva contraseña</label>
                        <div @click="showHidepass" class="show-password">
                            <i class="flaticon-interface"></i>
                        </div>
                    </div>
                    <div class="text-primary" v-if="!$v.recover.password.minLength">La contraseña debe tener mínimo {{ $v.recover.password.$params.minLength.min }} caracteres.</div>
                    <div class="form-group form-floating-label">
                        <input id="confirmpassword" v-model.trim="$v.recover.repeatPassword.$model" name="confirmpassword" type="password" class="form-control input-border-bottom" required>
                        <label for="confirmpassword" class="placeholder">Confirmar nueva contraseña</label>
                        <div @click="showHidepass" class="show-password">
                            <i class="flaticon-interface"></i>
                        </div>
                    </div>
                    <div class="text-primary" v-if="!$v.recover.repeatPassword.sameAsPassword">La contraseña no coincide.</div>
                    <br>
                    <button class="btn btn-success float-right" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { required, sameAs, minLength } from 'vuelidate/lib/validators'
import store from '@/store'
import {HTTP} from '@/http-common'

export default {
    name: 'resetpassword',
    store,
    data(){
        return {
            pass : 'password',
            recover:{
                password: '',
                repeatPassword: '',
            }
        }
    },
    validations: {
    recover:{
            password: {
                required,
                minLength: minLength(6)
            },
            repeatPassword: {
                sameAsPassword: sameAs('password')
            }
        }
    },
    props: {
        notificacion: { type: Function },
    },
    mounted() {
        // this.redirecionar()
    },
    methods: {
        resetpassword: async function(){
        this.submitted = true;
            // stop here if form is invalid
            this.$v.$touch();
            if (this.$v.$invalid) {
            this.notificacion('<h3>Error</h3>','Asegurese que todos los campos esten correctamente diligenciados.', 'danger')
            }else{

                this.$store.state.isLoading = true

                let params = {
                        token : this.$route.query.token,
                        newpassword : this.recover.password
                }
                HTTP.post('api/account/ResponseResetPassword', params)
                .then(response => {
                this.response = response.data
                this.$store.state.isLoading = false
                if (response.data.success) {
                    this.notificacion('Hecho! ',response.data.message)
                    this.redirecionar()
                }else{
                    this.notificacion('Error!',response.data.message, 'danger')
                }
                
                })
                .catch(error => {
                    this.notificacion('Error',error, 'danger')
                    this.$store.state.isLoading = false
                    
                }) 

            }
        },
        showHidepass: function(){
            this.pass = this.pass === 'password' ? 'text' : 'password'
        },
       redirecionar: function(){
           setTimeout(function(){ 
               window.location.href ='/login' 
            }, 2000);
       },
    },
}
</script>