<template>
    <div  class="wrapper ">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div v-if="view == true" class="row justify-content-center align-items-center" >
            <div class="col-md-5 pl-md-0 pr-md-0">
                <div class="card card-pricing card-pricing-focus card-primary" style="background-color:#716ACA">
                    <div class="card-header">
                        <h4 class="card-title">Invitación de empresa</h4>
                        <div class="card-price">
                            <span class="price"><i class="flaticon-user-4"></i></span>
                        </div>
                        <p>
                           {{response.message}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/login" class="btn btn-light btn-block"><b>Iniciar sesión</b></a>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="row justify-content-center align-items-center" >
            <div class="col-md-5 pl-md-0 pr-md-0">
                <div class="card card-pricing card-pricing-focus card-danger">
                    <div class="card-header">
                        <h4 class="card-title">Error!</h4>
                        <div class="card-price">
                            <span class="price"><i class="flaticon-user-4"></i></span>
                        </div>
                        <p>
                           {{response.message}}
                        </p>
                    </div>
                    <!-- <div class="card-footer">
                        <a href="/login" class="btn btn-light btn-block"><b>Iniciar sesión</b></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import store from '@/store'
import {HTTP} from '@/http-common'

export default {
  name: 'recover',
  store,
  data (){
      return{
          view: null,
          activar : '',
          response: []
      }
  },
    props: {
        notificacion: { type: Function },
    },
  mounted() {
      this.mensajeInvitacion()
      //alert(this.$route.query.token)
  },
  methods: {
    mensajeInvitacion: async function(){

    HTTP.get('api/Usuarios/AcceptInvitation?token='+this.$route.query.token)
    .then(response => {
        //alert(JSON.stringify(response.data))
        this.response = response.data
        this.$store.state.isLoading = false
        if (response.data.success) {
            this.view = true
            this.notificacion('Hecho! ',response.data.message)
            //this.view = 'goSendMailRecover'
        }else{
            this.view = false
            this.notificacion('Error!',response.data.message, 'danger')
        }
    
    })
    .catch(error => {
        this.notificacion('Error',error, 'danger')
        this.$store.state.isLoading = false
        
    })
    },
  }
}
</script>