<template>
  <div class="home animated fadeIn">
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <!-- <ul v-for="item of doneUser" :key="item.id">
                        <li>
                           {{item.id}} - {{item.nombre}} - {{item.estado}} 
                        </li>
                    </ul>

                    <ul v-for="item of axios1" :key="item.id">
                        <li>
                           {{item.id}} - {{item.login}} - {{item.url}} 
                        </li>
                    </ul>
                    <button @click="getUser" class="btn btn-success">Ver</button> -->
                    <h4 class="page-title">LEAF </h4>
                    <div class="btn-group btn-group-page-header ml-auto">
                        <button type="button" class="btn btn-light btn-round btn-page-header-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <div class="arrow"></div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <h5>Es la herramienta que su empresa necesita para la administración de la gestión de la calidad.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="card card-stats card-danger card-round">
                            <div class="card-body">
                                <div class="row mx-auto">
                                    <div class="col-12 mb-4 my-5">
                                        <div class="text-center">
                                            <img src="@/assets/img/menu/gestion_documental.svg">
                                        </div>
                                        <div class="text-center my-4">
                                            <span>Gestión documental</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card card-stats card-success card-round">
                            <div class="card-body">
                                <div class="row mx-auto">
                                    <div class="col-12 mb-4 my-5">
                                        <div class="text-center">
                                            <img src="@/assets/img/menu/gestion_ambiental.svg">
                                        </div>
                                        <div class="text-center my-4">
                                            <span>Gestión ambiental</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card card-stats card-warning card-round">
                            <div class="card-body">
                                <div class="row mx-auto">
                                    <div class="col-12 mb-4 my-5">
                                        <div class="text-center">
                                            <img src="@/assets/img/menu/equipos.svg">
                                        </div>
                                        <div class="text-center my-4">
                                            <span>Equipos</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div style="background-color: #24C6C8" class="card card-stats card-secondary card-round">
                            <div class="card-body">
                                <div class="row mx-auto">
                                    <div class="col-12 mb-4 my-5">
                                        <div class="text-center">
                                            <img src="@/assets/img/menu/auditorias.svg">
                                        </div>
                                        <div class="text-center my-4">
                                            <span>Auditorías</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card card-stats card-danger card-round">
                            <div class="card-body">
                                <div class="row mx-auto">
                                    <div class="col-12 mb-4 my-5">
                                        <div class="text-center">
                                            <img src="@/assets/img/menu/actas_informes.svg">
                                        </div>
                                        <div class="text-center my-4">
                                            <span>Actas e informes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div style="background-color: #24C6C8" class="card card-stats card-secondary card-round">
                            <div class="card-body ">
                                <div class="card-body">
                                    <div class="row mx-auto">
                                        <div class="col-12 mb-4 my-5">
                                            <div class="text-center">
                                                <img src="@/assets/img/menu/pqrs.svg">
                                            </div>
                                            <div class="text-center my-2">
                                                <span>PQRS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'
import { mapActions } from 'vuex'
import store from '@/store'
// import {HTTP} from '@/http-common'

export default {
  name: 'Home',
  data () {
      return {
          axios1 : []
      }
  },
  mounted() {
    if (!this.$session.exists()) {
        this.$router.push('/login')
    }
  },
  computed: {
      count(){
          return store.getters.doneTodos
      },
      count2(){
          return store.state.todos
      },
    ...mapState(['user']),
    ...mapGetters(['doneUser'])
  },
  methods:{
      ...mapMutations(['llenarUser']),
      ...mapActions(['getUser'])
  }
}
</script>
