<template>      
    <div id="app">
        <div id="nav" v-if="this.$session.exists()">
            <div class="main-header" data-background-color="purple">
                <!-- Logo Header -->
                <div class="logo-header">
                    
                    <a href="index.html" class="logo">
                        <img src="assets/img/logoazzara.svg" alt="navbar brand" class="navbar-brand">
                    </a>
                    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fa fa-bars"></i>
                        </span>
                    </button>
                    <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="navbar-minimize">
                        <button class="btn btn-minimize btn-rounded">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <!-- End Logo Header -->

                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-expand-lg">
                    
                    <div class="container-fluid">
                        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                            <li class="nav-item toggle-nav-search hidden-caret">
                                <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-envelope"></i>
                                </a>
                                <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                                    <li>
                                        <div class="dropdown-title d-flex justify-content-between align-items-center">
                                            Messages 									
                                            <a href="#" class="small">Mark all as read</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-notif-scroll scrollbar-outer">
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-img"> 
                                                        <img src="@/assets/img/jm_denis.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Jimmy Denis</span>
                                                        <span class="block">
                                                            How are you ?
                                                        </span>
                                                        <span class="time">5 minutes ago</span> 
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img"> 
                                                        <img src="@/assets/img/chadengle.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Chad</span>
                                                        <span class="block">
                                                            Ok, Thanks !
                                                        </span>
                                                        <span class="time">12 minutes ago</span> 
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img"> 
                                                        <img src="@/assets/img/mlane.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Jhon Doe</span>
                                                        <span class="block">
                                                            Ready for the meeting today@.
                                                        </span>
                                                        <span class="time">12 minutes ago</span> 
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img"> 
                                                        <img src="@/assets/img/talha.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Talha</span>
                                                        <span class="block">
                                                            Hi, Apa Kabar ?
                                                        </span>
                                                        <span class="time">17 minutes ago</span> 
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification">4</span>
                                </a>
                                <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                    <li>
                                        <div class="dropdown-title">You have 4 new notification</div>
                                    </li>
                                    <li>
                                        <div class="notif-scroll scrollbar-outer">
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            New user registered
                                                        </span>
                                                        <span class="time">5 minutes ago</span> 
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            Rahmad commented on Admin
                                                        </span>
                                                        <span class="time">12 minutes ago</span> 
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img"> 
                                                        <img src="@/assets/img/profile2.jpg" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            Reza send messages to you
                                                        </span>
                                                        <span class="time">12 minutes ago</span> 
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            Farrah liked Admin
                                                        </span>
                                                        <span class="time">17 minutes ago</span> 
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img :src="empresa.avatar" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg"><img :src="empresa.avatar" alt="image profile" class="avatar-img rounded"></div>
                                            <div class="u-text">
                                                <h4 class="text-capitalize">{{empresa.nombre}}</h4>
                                                <p class="text-muted">{{empresa.email}}</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <router-link class="dropdown-item" to="/profile">Mi perfil</router-link>
                                        <a class="dropdown-item" href="#">My Balance</a>
                                        <a class="dropdown-item" href="#">Inbox</a>
                                        <div class="dropdown-divider"></div>
                                        <router-link class="dropdown-item" to="/accountsetting/editperfil">Configuración de cuenta</router-link>
                                        <div class="dropdown-divider"></div>
                                        <a style="cursor:pointer" @click="this.logout" class="dropdown-item" >Cerrar sesión</a>
                                    </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>

            <!-- Sidebar -->
            <div class="sidebar">
                
                <div class="sidebar-background"></div>
                <div class="sidebar-wrapper scrollbar-inner">
                    <div class="sidebar-content">
                        <div class="user">
                            <div class="avatar-sm float-left mr-2">
                                <img :src="avatar" alt="..." class="avatar-img rounded-circle">
                            </div>
                            <div class="info">
                                <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                    <span>
                                        <span class="text-capitalize">{{nombre1}} {{nombre2}}</span>
                                        <span style="font-size:9px" class="user-level">{{email}}</span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <div class="clearfix"></div>

                                <div class="collapse in" id="collapseExample">
                                    <ul class="nav">
                                        <li>
                                            <router-link class="link-collapse" to="/home">Inicio</router-link>
                                            <!-- <a href="#profile">
                                                <span class="link-collapse">My Profile</span>
                                            </a> -->
                                        </li>
                                        <!-- <li>
                                            <router-link class="link-collapse" to="/about">About</router-link>
                                            <a href="#edit">
                                                <span class="link-collapse">Edit Profile</span>
                                            </a>
                                        </li> -->
                                        <li>
                                            <router-link class="link-collapse" to="/accountsetting/editperfil">Configuración de cuenta </router-link>
                                            <!-- <a href="#edit">
                                                <span class="link-collapse">Edit Profile</span>
                                            </a> -->
                                        </li>
                                        <!-- <li>
                                            <a href="#settings">
                                                <span class="link-collapse">Settings</span>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="nav">
                            <li class="nav-item active">
                                <router-link to="/home">
                                    <i class="fas fa-home"></i>
                                    <p>Inicio</p>
                                </router-link>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </li>
                            <li class="nav-item">
                                <router-link to="/cartelera">
                                    <i class="fa fa-bullhorn"></i>
                                    <p>Cartelera institucional</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/editEmpresa">
                                    <i class="fa fa-building"></i>
                                    <p>Empresa</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/miembros">
                                    <i class="fa fa-users"></i>
                                    <p>Miembros</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/perfiles-cargos">
                                    <i class="fa fa-briefcase"></i>
                                    <p>Perfiles o cargos</p>
                                </router-link>
                                
                            </li>
                            <li class="nav-item">
                               <router-link to="/auditoria">
                                    <i class="fa fa-search"></i>
                                    <p>Auditoría</p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="collapse" href="#submenu">
                                    <i class="fa fa-life-ring"></i>
                                    <p>Ayuda</p>
                                </a>
                                <div class="collapse" id="submenu">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a data-toggle="collapse" href="#subnav1">
                                                <span class="sub-item">Preguntas frecuentes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" href="#subnav2">
                                                <span class="sub-item">Contáctenos</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="sub-item">Manual de usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="sub-item">Acerca del software</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    msg: String,
    logout: { type: Function },
  },
  data(){
      return {
          token : '',
          nombre1: '',
          nombre2: '',
          apellido1 : '',
          apellido2: '',
          email: '',
          telefono: '',
          direccion: '',
          avatar: '',
          update_info: {
              avatar: ''
          },
          empresa: {
                nit: '',
                nombre: '',                
                email: '',
                telefono: '',
                direccion: '',
                representanteLegal: '',
                avatar: ''
          },
          actualizado: [],
          business: []
      }
  },
  computed:{
    datos_actualizados(){
          if (localStorage.getItem('actualizado')) {
            return localStorage.getItem('actualizado')              
          }else{
            return 1
          }

      }
  },
  mounted(){
            setInterval(() => {
                if (localStorage.getItem('actualizado')) {
                    this.actualizado = JSON.parse(localStorage.getItem('actualizado'))
                    this.nombre1=this.actualizado.Nombre1
                    this.nombre2= this.actualizado.Nombre2
                    this.apellido1 = this.actualizado.Apellido1
                    this.apellido2= this.actualizado.Apellido2
                    this.email= this.actualizado.Email
                    this.avatar = this.actualizado.Avatar
                }

                if (localStorage.getItem('empresa')) {
                    this.business = JSON.parse(localStorage.getItem('empresa'))
                    this.empresa.nit= this.business.Nit
                    this.empresa.nombre= this.business.Nombre
                    this.empresa.email= this.business.Email
                    this.empresa.telefono = this.business.Telefono
                    this.empresa.direccion = this.business.Direccion
                    this.empresa.representanteLegal = this.business.RepresentanteLegal
                    this.empresa.avatar = this.business.Logo
                }
            }, 500); 
    
    if (this.$session.exists()) {
        try {
            if (this.$session.getAll().undefined.Token) {
            
                this.token = this.$session.getAll().undefined.Token
                this.nombre1= this.$session.getAll().undefined.usuario.nombre1
                this.nombre2= this.$session.getAll().undefined.usuario.nombre2
                this.apellido1 = this.$session.getAll().undefined.usuario.apellido1
                this.apellido2= this.$session.getAll().undefined.usuario.apellido2
                this.email= this.$session.getAll().undefined.usuario.usuario
                this.telefono = this.$session.getAll().undefined.usuario.telefono
                this.direccion = this.$session.getAll().undefined.usuario.direccion
                this.avatar = this.$session.getAll().undefined.usuario.avatar
                
                this.empresa.nit= this.$session.getAll().undefined.empresa.Nit
                this.empresa.nombre= this.$session.getAll().undefined.empresa.Nombre
                this.empresa.email= this.$session.getAll().undefined.empresa.Email
                this.empresa.telefono = this.$session.getAll().undefined.empresa.Telefono
                this.empresa.direccion = this.$session.getAll().undefined.empresa.Direccion
                this.empresa.representanteLegal = this.$session.getAll().undefined.empresa.RepresentanteLLegal
                this.empresa.avatar = this.$session.getAll().undefined.empresa.Logo
                
            }
        } catch (e) {
            console.log(e)
            //window.location.href ='/login'
        }
    }
  },
  methods: {
      
  },
}
</script>