<template>
  <div style="background-color:#fff;z-index:100">
    <table id="add-row" style="width:100%" class="table table-hover" >
        <tbody>
            <tr style="background-color: #eee">
                <td v-if="item.avatar"><img style="width:25px;height:25px" class="avatar-img rounded-circle" :src="item.avatar"></td>
                <td v-else><img width="1px" class="avatar-img rounded-circle avatar avatar-xs" src="http://placehold.it/100x100"></td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: {
    item: { required: true },
    searchText: { required: true }
  }
}
</script>