<template>
  <div class="miembros">
    <div class="main-panel">
			<div class="content">
				<div class="page-inner">
                    <button class="btn btn-xs btn-primary btn-round float-right" data-toggle="modal" data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Invitar a otros
                    </button>
					<div class="page-header">
						<h4 class="page-title"><i class="fa fa-users"></i> Miembros</h4>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<!-- Modal -->
									<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
                                                <div >
                                                    <div class="modal-header no-bd bg-secondary">
                                                        <h5 class="modal-title">
                                                            <span class="fw-mediumbold">Invitar a otros</span>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-12" style="z-index:0" >
                                                                <table id="add-row" class="table table-hover" >
                                                                    <tbody v-for="item in ItemBuscar.tabledatos" :key="item.id">
                                                                        <tr style="background-color: #eee">
                                                                            <td v-if="item.avatar"><img style="width:25px;height:25px" class="avatar-img rounded-circle" :src="item.avatar"></td>
                                                                            <td v-else><img width="1px" class="avatar-img rounded-circle avatar avatar-xs" src="http://placehold.it/100x100"></td>
                                                                            <td>{{item.name}}</td>
                                                                            <td>{{item.email}}</td>
                                                                            <td v-if="item.estado == null" class="text-danger">Pendiente</td>
                                                                            <td v-else-if="item.estado == false" style="font-size:5px" class="text-primary">
                                                                                <div class="spinner-border spinner-border-sm" role="status">
                                                                                    <span class="sr-only">Loading...</span>
                                                                                </div>
                                                                            </td>
                                                                            <td v-else class="text-success">Invitado</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label>Buscar usuarios</label>
                                                                    <v-autocomplete 
                                                                    :items="ItemBuscar.items"
                                                                    :auto-select-one-item="false" 
                                                                    input-class="form-control" 
                                                                    :get-label="getLabel" 
                                                                    :component-item='ItemBuscar.template' 
                                                                    @update-items="updateItems"
                                                                    @item-clicked="Consultar">
                                                                    </v-autocomplete>
                                                                    <!-- <input id="descripcion" required v-model="Usuarios.descripcion" type="text" class="form-control" placeholder="Search ..."> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer no-bd">
                                                        <button type="submit" id="addRowButton" @click="InvitarUsuarios()" class="btn btn-primary">Invitar</button>
                                                        <button type="button" @click="limpiarListaInvitados()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
											</div>
										</div>
									</div>
                                    <div class="collapse float-right" id="search-nav">
                                        <form @submit.prevent="ShowUsuarios(1, searchTable)" class="navbar-left navbar-form nav-search mr-md-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button type="submit" class="btn btn-search pr-1">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </button>
                                                </div>
                                                <input type="text" placeholder="Search ..." v-model="searchTable" class="form-control">
                                            </div>
                                        </form>
                                    </div>
									<div v-if="tabledatos.length > 0" class="table-responsive">
										<table id="add-row" class="table table-hover" >
											<thead>
												<tr>
                                                    <th style="width:5px"></th>
													<th>Nombre</th>
													<th>Email</th>
													<th>Estado</th>
													<th style="width: 10%"></th>
												</tr>
											</thead>
											<tbody v-for="(item, i) in tabledatos" :key="item.id">
												<tr v-if=" i % 2 == 0" style="background-color: #eee">
                                                    <td v-if="item.avatar"><img style="width:25px;height:25px" class="avatar-img rounded-circle" :src="item.avatar"></td>
                                                    <td v-else><img width="1px" class="avatar-img rounded-circle avatar avatar-xs" src="http://placehold.it/100x100"></td>
													<td class="text-capitalize">{{item.nombre1+' '+item.nombre2+' '+item.apellido1+' '+item.apellido2}}</td>
													<td>{{item.email}}</td>
													<td>{{item.estado}}</td>
                                                    <td v-if="item.estado == 'ACTIVO'"><button @click="EliminarInvitacion('eliminar', item.email)" class="btn-secondary btn-border btn-xs "> Eliminar</button></td>
                                                    <td v-else><button @click="EliminarInvitacion('cancelar', item.email)" class="btn-secondary btn-border btn-xs">Cancelar</button></td>
												</tr>
                                                <tr v-else>
													<td v-if="item.avatar"><img style="width:25px;height:25px" class="avatar-img rounded-circle" :src="item.avatar"></td>
                                                    <td v-else><img class="avatar-img rounded-circle avatar avatar-xs" src="http://placehold.it/100x100"></td>
													<td class="text-capitalize">{{item.nombre1+' '+item.nombre2+' '+item.apellido1+' '+item.apellido2}}</td>
													<td>{{item.email}}</td>
													<td>{{item.estado}}</td>
													<td v-if="item.estado == 'ACTIVO'"><button @click="EliminarInvitacion('eliminar', item.email)" class="btn-secondary btn-border btn-xs "> Eliminar</button></td>
                                                    <td v-else><button @click="EliminarInvitacion('cancelar', item.email)" class="btn-secondary btn-border btn-xs">Cancelar</button></td>
												</tr>
											</tbody>
										</table>
                                        <label for="">{{detallesTable.showData}}</label>
                                        <div class="float-right">
                                            <nav aria-label="Page navigation example">
                                                <ul v-for="item in detallesTable.items" :key="item.id" class="pagination float-left">
                                                    <li v-if="item.texto == 'Primera'" class="page-item">
                                                        <a class="page-link" @click="ShowUsuarios(item.pagina)" aria-label="Previous">
                                                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                                                            <span class="sr-only">{{item.texto}}</span>
                                                        </a>
                                                    </li>
                                                    <li v-else-if="item.texto == 'Última'" class="page-item">
                                                        <a class="page-link" @click="ShowUsuarios(item.pagina)" aria-label="Next">
                                                            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                                                            <span class="sr-only">{{item.texto}}</span>
                                                        </a>
                                                    </li>
                                                    <li v-bind:class="{active:item.activo}" v-else class="page-item"><a class="page-link" @click="ShowUsuarios(item.pagina)">{{item.texto}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
									</div>
                                    <div v-else >
                                        <table id="add-row" class="table table-hover" >
                                            <thead>
                                                <th>No se encontraron resultados.</th>
                                            </thead>
                                        </table>
                                        
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    <!-- <HelloWorld msg="About to Your Vue.js App"/> -->
  </div>
</template>

<script>
import store from '@/store'
import {HTTP} from '@/http-common'
import ItemTemplate from '@/views/miembros/itemSelect.vue'

// // Importamos JQuery
// const $ = require('jquery')
// // Lo declaramos globalmente
// window.$ = $

export default {
  name: 'miembros',
  store,
  props: {
        notificacion: { type: Function }
  },
  data(){
      return{
          
          tabledatos: [],
          detallesTable: [],
          searchTable : '',
          paginations : '',
          total_pag : '',
          mensaje: '',
          Usuarios:{
              id: 0,
              descripcion: '',
              estado: ''
          },
          ItemBuscar:{
                items: [],
                template: ItemTemplate,
                tabledatos: [],
          }
      }
  },
  mounted() {
    this.ShowUsuarios()
    document.getElementsByClassName('js-example-basic-single');
	if (!this.$session.exists()) {
        window.location.href = "/login"
    }
  },
  methods: {
      getLabel () {
        //   getLabel (item) {
        return ''
        // return item.name
      },
      updateItems (text) {
        let datos = []
        if (text.length > 3) {
            this.$store.state.isLoading = true
            HTTP.get('api/Usuarios/ListAllInvite?numeroPagina=1&texto='+text).then( (response) => {
                // alert(JSON.stringify(response.data.length))
                for (let i = 0; i < response.data.length; i++) {
                    datos.push({id: response.data[i].email, name: response.data[i].email, description: response.data[i].nombreCompleto , avatar: response.data[i].avatar, estado: null })
                }
                this.ItemBuscar.items = datos
                this.$store.state.isLoading = false
            })   
        }
      },
      Consultar: function ($event) {
          let estado = true;
          if (this.ItemBuscar.tabledatos.length > 0) {
            for (let i = 0; i < this.ItemBuscar.tabledatos.length; i++) {
                const element = this.ItemBuscar.tabledatos[i].id;
                if (element == $event.id ) {
                    estado = false
                }
            }   
          }
          if (estado) {
            this.ItemBuscar.tabledatos.push($event)   
          }else{
            alert('El usuario ya se encuentra agregado')
          }
      },
      ShowUsuarios : function (pag = 1, text = this.searchTable){
        this.$store.state.isLoading = true
        HTTP.get('api/Usuarios/ListMembers?numeroPagina='+pag+'&texto='+text)
        .then(response => {
        this.tabledatos = response.data.data
        this.detallesTable = response.data.pager
        this.$store.state.isLoading = false
        })
        .catch(error => {
            if (error.message !== "Network danger") {
                //this.notificacion('Error',error.response.data.message, 'error')
                this.mensaje = error.response.data.message
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
            }
        })
    },
    goBack: async function () {
        window.history.back();
    },
    InvitarUsuarios : async function (){

        if (this.ItemBuscar.tabledatos.length > 0) {
            for (let i = 0; i < this.ItemBuscar.tabledatos.length; i++) {
                this.ItemBuscar.tabledatos[i].estado = false;
                let element = this.ItemBuscar.tabledatos[i].id;
                let params = {
                        email : element
                }
                HTTP.post('/api/Usuarios/InviteUser', params)
                .then(response => {
                //alert(JSON.stringify(response.data))
                if (response.data.success) {
                    this.ItemBuscar.tabledatos[i].estado = true;
                    this.ShowUsuarios(1, "")
                }
                // this.Usuarios.response = response.data
                this.$store.state.isLoading = false
                })
                .catch(error => {
                    this.$store.state.isLoading = false
                    if (error.message !== "Network danger") {
                        //this.notificacion('Error',error.response.data.message, 'error')
                        this.mensaje = error.response.data.message
                    }else{
                        this.notificacion('Error',error, 'danger')
                    }
                })
            }
            //this.limpiarListaInvitados()
            this.updateItems('0000')
        }

    },
    EliminarInvitacion : function (estado, email) {
        let url = ''
        if (estado == 'eliminar') {
            url = 'Delete'
        }else{
            url = 'CancelInvitation'
        }
        this.$swal({
            title: '<span style="font-size:18px">Advertencia</span>',
            text: '¿ Estas seguro que deseas '+estado+' la invitación ?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
            }).then((result) => {
            if (result.value) {
                this.$store.state.isLoading = true
                HTTP.delete('api/Usuarios/'+url+'/'+email)
                .then(response => {
                if (response.data.success) {
                    this.$swal(
                    '',
                    response.data.message,
                    'success'
                    )
                    this.ShowUsuarios(1, "")
                }else{
                    this.$swal(
                    '',
                    response.data.message,
                    'error'
                    )
                }
                this.$store.state.isLoading = false
                })
                .catch(error => {
                    if (error.message !== "Network danger") {
                        //this.notificacion('Error',error.response.data.message, 'error')
                        this.mensaje = error.response.data.message
                        this.$store.state.isLoading = false
                    }else{
                        this.notificacion('Error',error, 'danger')
                        this.$store.state.isLoading = false
                    }
                })
            
            } else{
                // this.$swal(
                // '<span style="font-size:18px"></span>',
                // 'La operación fue cancelada.',
                // 'error'
                // )
            }
        })
    },
    limpiarListaInvitados: function () {
        setTimeout(() => {
            this.ItemBuscar.tabledatos = [];
        }, 10000);
    }
  }
//   components: {
//     HelloWorld
//   }
}
</script>
