<template>
  <div class="about">
        <div class="main-panel">
			<div class="content">
				<div class="page-inner">
                    <!-- <button @click="goBack()"  class="btn btn-xs btn-primary btn-round ml-2 float-right">
                        <i class="fa fa-arrow-left"></i>
                         Regresar
                    </button> -->
                    <button class="btn btn-xs btn-primary btn-round float-right" ref="botonModal" @click="NuevoRegistro()" data-toggle="modal" data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Agregar
                    </button>
					<div class="page-header">
						<h4 class="page-title"><i class="fa fa-briefcase"></i> Perfil o cargos</h4>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<!-- Modal -->
									<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
                                                <form @submit.prevent="GuardarCargos()" id="formcargos" >
                                                    <div class="modal-header no-bd bg-secondary">
                                                        <h5 class="modal-title">
                                                            <span class="fw-mediumbold">Datos del cargo</span> 
                                                            
                                                        </h5>
                                                        <button type="button" ref="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Código</label>
                                                                    <input id="id" v-model="cargos.id" disabled type="text" class="form-control" placeholder="Código">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <div class="form-group">
                                                                    <label>Descripción</label>
                                                                    <input id="descripcion" required v-model="cargos.descripcion" type="text" class="form-control" placeholder="Descripción">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label>Estado</label>
                                                                    <select required class="form-control form-control-sm" v-model="cargos.estado" name="" id="estado" >
                                                                        <option value="">
                                                                            Seleccionar
                                                                        </option>
                                                                        <option value="ACTIVO">
                                                                            ACTIVO
                                                                        </option>
                                                                        <option value="INACTIVO">
                                                                            INACTIVO
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer no-bd">
                                                        <button type="submit" id="addRowButton" class="btn btn-primary">Guardar</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </form>
											</div>
										</div>
									</div>
                                    <div class="collapse float-right" id="search-nav">
                                        <form @submit.prevent="ShowCargos(1, searchTable)" class="navbar-left navbar-form nav-search mr-md-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button type="submit" class="btn btn-search pr-1">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </button>
                                                </div>
                                                <input type="text" placeholder="Search ..." v-model="searchTable" class="form-control">
                                            </div>
                                        </form>
                                    </div>
									<div v-if="tabledatos.length > 0" class="table-responsive">
										<table id="add-row" class="table table-hover" >
											<thead>
												<tr>
													<th>id</th>
													<th>Descripción</th>
													<th>Estado</th>
													<th style="width: 10%"></th>
												</tr>
											</thead>
											<tbody v-for="(item, i) in tabledatos" :key="item.id">
												<tr v-if="i % 2 == 0" style="background-color: #eee">
													<td>{{item.id}}</td>
													<td>{{item.descripcion}}</td>
													<td>{{item.estado}}</td>
													<td>
														<button @click="EditarRegistro(item.id)" class="btn-secondary btn-border btn-xs "> Editar</button>
													</td>
												</tr>
                                                <tr v-else>
													<td>{{item.id}}</td>
													<td>{{item.descripcion}}</td>
													<td>{{item.estado}}</td>
													<td>
														<button @click="EditarRegistro(item.id)" class="btn-secondary btn-border btn-xs "> Editar</button>
													</td>
												</tr>
											</tbody>
										</table>
                                        <label for="">{{detallesTable.showData}}</label>
                                        <div class="float-right">
                                            <nav aria-label="Page navigation example">
                                                <ul v-for="item in detallesTable.items" :key="item.id" class="pagination float-left">
                                                    <li v-if="item.texto == 'Primera'" class="page-item">
                                                        <a class="page-link" @click="ShowCargos(item.pagina)" aria-label="Previous">
                                                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                                                            <span class="sr-only">{{item.texto}}</span>
                                                        </a>
                                                    </li>
                                                    <li v-else-if="item.texto == 'Última'" class="page-item">
                                                        <a class="page-link" @click="ShowCargos(item.pagina)" aria-label="Next">
                                                            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                                                            <span class="sr-only">{{item.texto}}</span>
                                                        </a>
                                                    </li>
                                                    <li v-bind:class="{active:item.activo}" v-else class="page-item"><a class="page-link" @click="ShowCargos(item.pagina)">{{item.texto}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
									</div>
                                    <div v-else >
                                        <table id="add-row" class="table table-hover" >
                                            <thead>
                                                <th>No se encontraron resultados.</th>
                                            </thead>
                                        </table>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    <!-- <HelloWorld msg="About to Your Vue.js App"/> -->
  </div>
</template>

<script>
import store from '@/store'
import {HTTP} from '@/http-common'

export default {
  name: 'about',
  store,
  props: {
        notificacion: { type: Function }
  },
  data(){
      return{
          tabledatos: [],
          detallesTable: [],
          searchTable : '',
          paginations : '',
          total_pag : '',
          mensaje: '',
          cargos:{
              id: '',
              descripcion: '',
              estado: ''
          }
      }
  },
  mounted() {
    this.ShowCargos()
	if (!this.$session.exists()) {
        this.$router.push('/login')
    }
  },
  methods: {
      ShowCargos : function (pag = 1, text = this.searchTable){
        this.$store.state.isLoading = true
        HTTP.get('api/Cargos/ListAll?numeroPagina='+pag+'&texto='+text)
        .then(response => {
        this.tabledatos = response.data.cargos
        this.detallesTable = response.data.pager
        this.$store.state.isLoading = false
        })
        .catch(error => {
            this.$store.state.isLoading = false
            if (error.message !== "Network danger") {
                //this.notificacion('Error',error.response.data.message, 'error')
                this.mensaje = error.response.data.message
            }else{
                this.notificacion('Error',error, 'danger')
            }
        })
    },
    goBack: async function () {
        window.history.back();
    },
    NuevoRegistro: async function () {
        this.cargos.id = 0
        this.cargos.descripcion = ''
        this.cargos.estado = ''
    },
    EditarRegistro : async function (consec){
        this.cargos.id = consec
        HTTP.get('/api/Cargos/GetByID/'+this.cargos.id)
        .then(response => {
        this.$refs.botonModal.click()
        this.cargos.id = response.data.id 
        this.cargos.descripcion = response.data.descripcion 
        this.cargos.estado = response.data.estado
        this.$store.state.isLoading = false
        })
        .catch(error => {
            if (error.message !== "Network danger") {
                //this.notificacion('Error',error.response.data.message, 'error')
                this.mensaje = error.response.data.message
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
            }
        })
    },
    GuardarCargos : async function (){
        let params = {
                id : this.cargos.id,
                descripcion : this.cargos.descripcion,
                estado : this.cargos.estado
        }
        HTTP.post('/api/Cargos/Create', params)
        .then(response => {
        this.$refs.closeModal.click()
        this.ShowCargos()
        this.cargos.response = response.data
        this.$store.state.isLoading = false
        this.notificacion('Aviso',response.data.message, "success")
        })
        .catch(error => {
            if (error.message !== "Network danger") {
                this.$refs.closeModal.click()
                this.notificacion('Error',error.message, 'error')
                //this.mensaje = error.data.message
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
            }
        })
    }
  }
//   components: {
//     HelloWorld
//   }
}
</script>
