<template>
    <div  class="wrapper ">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row justify-content-center align-items-center" >
            <div class="col-md-3 pl-md-0 pr-md-0">
                <div class="card card-pricing card-pricing-focus card-primary" style="background-color:#716ACA">
                    <div class="card-header">
                        <h4 class="card-title">Su cuenta ha sido activada exitosamente</h4>
                        <div class="card-price">
                            <span class="price"><i class="flaticon-user-4"></i></span>
                        </div>
                        <p>
                            Ahora solo debes iniciar sesión
                        </p>
                    </div>
                    <div class="card-body">
                        <p >
                            <b>Se redireccionará automaticamente a la página de acceso en 5 segundos ...</b>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/login" class="btn btn-light btn-block"><b>Volver a la página principal</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'sendmail',
    props: {
        msg: String
    },
    data(){
        return {
            
        }
    },
    mounted() {
        this.redirecionar()
    },
    methods: {
       redirecionar: function(){
           setTimeout(function(){ 
               window.location.href ='/login' 
            }, 5000);
       },
    },
}
</script>