<template>
    <div>
        <form @submit.prevent="initSession" v-if="this.view === 'login'" class="wrapper wrapper-login">
            <div class="container container-login animated fadeIn">
                <p class="text-center">
                    <img src="@/assets/img/leafs.svg" width="200px" alt="">
                </p>
                <!-- <h3 class="text-center">Iniciar sesion</h3> -->
                <div class="login-form">
                    <div class="form-group form-floating-label">
                        <input ref="EmailLogin" v-model="login.email" id="Correo electrónico" name="Correo electrónico" type="text" class="form-control input-border-bottom" required>
                        <label for="Correo electrónico" class="placeholder">Correo electrónico {{this.$route.query.test}}</label>
                    </div>

                    <div class="text-danger" v-if="!$v.login.email.email">Email no válido.</div>

                    <div class="form-group form-floating-label">
                        <input id="password" v-model="login.password" name="password" type="password" class="form-control input-border-bottom" required>
                        <label for="password" class="placeholder">Contraseña</label>
                        <div class="show-password">
                            <i class="flaticon-interface"></i>
                        </div>
                    </div>
                    <div class="text-primary" v-if="!$v.login.password.minLength">La contraseña debe tener mínimo {{ $v.login.password.$params.minLength.min }} caracteres.</div>
                    <div class="row form-sub m-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rememberme">
                            <label class="custom-control-label" for="rememberme">No cerrar sesión</label>
                        </div>
                        
                        <a href="recover" class="link float-right">¿ Olvidaste tu contraseña ?</a>
                    </div>
                    <div class="form-action mb-3">
                        <button class="btn btn-secondary btn-rounded btn-login" type="submit">Iniciar sesión</button>
                        <!-- <a href="#" class="btn btn-secondary btn-rounded btn-login">Iniciar sesion</a> -->
                    </div>
                    <div class="login-account">
                        <span class="msg">¿ Aún no tengo una cuenta ?</span>
                        <a @click="goRegister" id="show-signup" style="cursor:pointer" class="link text-primary"> Regístrate</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="wrapper wrapper-login" v-else-if="this.view === 'register'">
            <register :notificacion="this.notificacion"></register>
        </div>

        <div class="wrapper wrapper-login" v-else-if="this.view === 'activar'">
            <activarLogin v-bind:msg="this.view"></activarLogin>
        </div>
        <div class="wrapper wrapper-login" v-else-if="this.view === 'menuempresas'">
            <menuEmpresas :logout="this.logout" :notificacion="this.notificacion" v-bind:msg="login.email"></menuEmpresas>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex'
import { mapActions } from 'vuex'
import register from '@/components/login/register.vue'
import activarLogin from '@/components/login/activarLogin.vue'
import menuEmpresas from '@/components/login/menuempresas.vue'
import { required, email, minLength } from 'vuelidate/lib/validators'
import store from '@/store'
import {HTTP} from '@/http-common'

export default {
  name: 'login',
  components:{
      register,
      activarLogin,
      menuEmpresas
  },
  store,
  data (){
      return{
          view : 'login',
          activar : '',
          correo : '',
          login:{
              email : '',
              password : ''
          },
          response: []
      }
  },
  validations: {
    login:{
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            }
        }
    },
  props: {
    notificacion: { type: Function },
  },
  mounted() {
      if (this.$route.query.token) {
          this.view = 'activar'
          this.$store.state.isLoading = true
    
            HTTP.get('api/account/'+this.$route.query.token)
            .then(response => {
            this.activar = response.data
            this.$store.state.isLoading = false
            this.notificacion('Hecho!',response.data.message)
            window.location.href ='/accountactive'
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'danger')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'danger')
                    this.$store.state.isLoading = false
                }
            })
      }

    if (this.$session.exists()) {
        this.view = 'menuempresas'
    }
  },
  computed: {
    ...mapState(['tabla']),
    
  },
  mutations: {
    llenarTabla(tablaAction){
        this.response = tablaAction
    }
  },
  methods: {
    initSession: async function(){
    this.submitted = true;

        // stop here if form is invalid
        this.$v.$touch();
        if (this.$v.$invalid) {
           this.notificacion('<h3>Error</h3>','Asegurese que todos los campos esten correctamente diligenciados.', 'danger')
        }else{

            this.$store.state.isLoading = true

            let params = {
                    usuario : this.login.email,
                    password : this.login.password
            }
            HTTP.post('api/access', params)
            .then(response => {
            this.login.response = response.data
            this.$store.state.isLoading = false
            if (response.data.success) {
                //this.notificacion('Hecho! ',response.data.message+', Ahora seleccione una empresa')
                this.$session.start()
                this.$session.set(response.data, response.data)
                this.view = 'menuempresas'
                //this.$session.set(response.data.data.token, response.data.data)
                //window.location.href ='/login/menuempresas'
            }else{
                this.notificacion('Error!',response.data.message, 'danger')
            }
            
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'danger')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'danger')
                    this.$store.state.isLoading = false
                }
                
            }) 

        }
    },
    logout: function () {
      this.$session.destroy()
      this.$router.push('/login').catch(err => {
          console.log(err)
      })
    },
    goLogin: function() {
      this.view = 'login'
    },
    goRegister: function() {
      this.view = 'register'
    },
    goSendEmail: function() {
      this.view = 'sendEmail'
    },
    ...mapActions(['saveRegister1'])
  }
}
</script>