<template>
    <div class="container py-5">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Toogle" aria-controls="Toogle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars mx-auto" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="Toogle">
                <ul class="navbar-nav mt-2 mt-lg-0 mx-auto">
                    <li style="cursor:pointer" v-if="mensaje === ''" class="nav-item">
                        <a class="nav-link" @click="MostarFormEmpresa(false)"><b>Inicio</b></a>
                    </li>
                    <li style="cursor:pointer" class="nav-item">
                        <a class="nav-link" @click="MostarFormEmpresa(true)"><b>Crear empresa</b></a>
                    </li>
                    <li style="cursor:pointer" class="nav-item">
                        <a class="nav-link" @click="this.logout" href="#"><b>Salir</b></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div v-if="empresa.view" class="mx-auto col-md-8 animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <h4 class="page-title">
                        <i class="flaticon-user-4"></i>
                        Crear empresa
                    </h4>
                </div>
                <form @submit.prevent="guardarEmpresa" id="formempresa" class="modal-content">
                    <div class="card-body">
                        <div class="form-group form-show-validation row">
                            <label class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Subir imagen <span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <div class="input-file input-file-image">
                                    <img style="cursor:pointer"  ref="image" class="img-upload-preview img-circle" @click="uploadImg" width="100" height="100" :src="logoimagen" alt="preview">
                                    <!-- <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required=""> -->
                                </div>
                                <div class="text-center">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row">
                            <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">NIT <span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <input maxlength="9" class="form-control" type="text" placeholder="NIT" required v-model="empresa.nit" name="" id="">
                            </div>
                        </div>
                        <div class="form-group form-show-validation row">
                            <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Razón social <span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <div class="input-group">
                                    <input maxlength="100" class="form-control" type="text" placeholder="Razón social" required v-model="empresa.nombre" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row">
                            <label for="email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Correo electrónico <span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <input maxlength="60" class="form-control" type="email" placeholder="Ingrese Email" required v-model="empresa.email" name="" id="">
                                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <div class="form-group form-show-validation row">
                            <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Teléfono <span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <div class="input-group">
                                    <input maxlength="12" class="form-control" type="phone" placeholder="Teléfono"  required v-model="empresa.telefono" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row">
                            <label for="password" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Dirección<span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <input maxlength="60" class="form-control" type="text" placeholder="Dirección" required v-model="empresa.direccion" name="" id="">
                            </div>
                        </div>
                        <div class="form-group form-show-validation row">
                            <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Representante legal<span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <div class="input-group">
                                    <input maxlength="100" class="form-control" type="text" placeholder="Representante legal" required v-model="empresa.representante" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row">
                            <label for="confirmpassword" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Departamento <span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <select @change="municipios($event)" required style="height:40px" v-model="empresa.departamento" class="form-control" name="" id="" >
                                    <option value="">Seleccionar</option>
                                    <option v-for="item in depto" :key="item.id" :value="item.id">
                                        {{item.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row">
                            <label for="confirmpassword" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Municípios <span class="required-label">*</span></label>
                            <div class="col-lg-4 col-md-9 col-sm-8">
                                <select required style="height:40px" class="form-control" v-model="empresa.municipio" name="" id="MunicipioId" >
                                    <option value="">Seleccionar</option>
                                    <option v-for="item in municipio" :key="item.id" :value="item.id">
                                        {{item.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary m-1" >Guardar empresa</button>
                                <button @click="MostarFormEmpresa(false)" class="btn btn-danger">Cancel</button>
                            </div>										
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" v-if="empresa.view === false">
            <div class="col-md-4 mx-auto">
                <div class="card card-profile card-secondary">
                    <div class="card-header" style="background-image: url('@/assets/img/blogpost.jpg')">
                        <div class="profile-picture">
                            <div class="avatar avatar-xl" v-if="!this.$session.getAll()['[object Object]'].data.Avatar">
                                <img src="http://placehold.it/100x100" alt="..." class="avatar-img rounded-circle">
                            </div>
                            <div class="avatar avatar-xl" v-else>
                                <img :src="this.$session.getAll()['[object Object]'].data.Avatar" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="user-profile">
                            <div class="name text-center"><span class="text-capitalize">{{this.$session.getAll()['[object Object]'].data.Nombre1+" "+this.$session.getAll()['[object Object]'].data.Apellido1}}</span></div>
                            <div class="job text-center">{{this.$session.getAll()['[object Object]'].data.Email}}</div>
                            <main v-if="!this.$session.getAll()['[object Object]'].data.Email" role="main" style="text-align:center" class="inner cover">
                                <h1 class="cover-heading text-primary">¡Usted no es permitido en esta página!</h1>
                                <p class="lead">{{mensaje}}</p>
                                <p class="lead">
                                <!-- <a href="#" class="btn btn-lg btn-secondary">Learn more</a> -->
                                </p>
                            </main>
                            <div class="card-list" v-else-if="response.length > 0" v-for="item in response" :key="item.id">
                                <div class="item-list">
                                    <div class="avatar">
                                        <img :src="item.logo" alt="@." class="avatar-img rounded-circle">
                                    </div>
                                    <div class="info-user ml-3">
                                        <div class="text-lowercase">{{item.nombre}}</div>
                                    </div>
                                    <button @click="initSession(item.id)" class="btn btn-icon btn-primary btn-round btn-sm">
                                        <i class="fa fa-angle-double-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
            <button type="button" ref="btn_modal_imagen" style="display:none" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" ref="close_modal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <center>
                            <vue-avatar
                            :width=400
                            :height=400
                            :rotation="rotation"
                            :scale="scale"
                            ref="vueavatar"
                            @vue-avatar-editor:image-ready="onImageReady"
                            >
                            </vue-avatar>
                            <br>
                            <input
                            type="range"
                            min=1
                            max=3
                            step=0.02
                            :value='scale'
                            />
                            <br>
                            <input
                            type="range"
                            min=1
                            max=3
                            step=0.02
                            :value='rotation'
                            />
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" v-on:click="saveClicked">Recortar</button>
                    </div>
                    </div>
                </div>
            </div>

    </div>
</template>
<script>

import { mapState } from 'vuex'
import { mapActions } from 'vuex'
import { required, email, minLength } from 'vuelidate/lib/validators'
import store from '@/store'
import {HTTP} from '@/http-common'
import {VueAvatar} from 'vue-avatar-editor-improved'

export default {
  name: 'login',
  components:{
      VueAvatar
  },
  store,
  data (){
      return{
          rotation: 0,
          scale: 1,
          borderRadius: 0,
          view : 'login',
          activar : '',
          depto: [],
          municipio: [],
          logoimagen: 'http://placehold.it/100x100',
          userAvatar: undefined,
          login:{
              email : '',
              password : ''
          },
          empresa:{
              id: '',
              nit: '',
              nombre: '',
              email : '',
              telefono : '',
              direccion : '',
              logoimagen: '',
              representante : '',
              departamento : '',
              municipio : '',
              view: false,
              response: []
          },
          response: [],
          mensaje: ''
      }
  },
  validations: {
    login:{
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            }
        }
    },
  props: {
    notificacion: { type: Function },
    logout: { type: Function },
    msg: String
  },
  mounted() {
    this.departamentos()
    this.$store.state.isLoading = true
    this.ShowEmpresa()
  },
  computed: {
    ...mapState(['tabla']),
    imagen(){
        return this.logoimagen
    }
    
  },
  mutations: {
    llenarTabla(tablaAction){
        this.response = tablaAction
    }
  },
  methods: {
    guardarEmpresa: async function(){
    this.submitted = true;
        this.$store.state.isLoading = true
    
        let ImageURL = this.$refs.image.src
        let blob = ""
        if (ImageURL !== "http://placehold.it/100x100") {
            let block = ImageURL.split(";")
            let contentType = block[0].split(":")[1]
            let realData = block[1].split(",")[1]
            blob = this.b64toBlob(realData, contentType)
        }else{
            blob = null
        }
        

        let form = document.getElementById('formempresa')
        let formData = new FormData(form)

        formData.append("Nit", this.empresa.nit);
        formData.append("Nombre", this.empresa.nombre);
        formData.append("Email", this.empresa.email);
        formData.append("Telefono", this.empresa.telefono);
        formData.append("Direccion", this.empresa.direccion);
        formData.append("Logo", blob);
        formData.append("Administrador", this.$session.getAll()['[object Object]'].data.Email);
        formData.append("RepresentanteLegal", this.empresa.representante);
        formData.append("DepartamentoId", this.empresa.departamento);
        formData.append("MunicipioId", this.empresa.municipio);

        HTTP.post('api/empresas/CrearEmpresa', formData)
        .then(response => {
        this.empresa.response = response.data
        this.$store.state.isLoading = false
        this.notificacion('Aviso',"Su empresa fue creada satisfactoriamente.")
        this.ShowEmpresa()
        this.MostarFormEmpresa(false)
        //this.$refs.closeModal.click()
        })
        .catch(error => {
            if (error.message !== "Network Error") {
                this.notificacion('Error',error.response.data.message, 'danger')
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
            }
            
        }) 

    },
    ShowEmpresa : function (){
        HTTP.get('api/Empresas/EmpresasUsuario/'+this.$session.getAll()['[object Object]'].data.Email)
        .then(response => {
        this.response = response.data
        this.$store.state.isLoading = false
        })
        .catch(error => {
            if (error.message !== "Network danger") {
                //this.notificacion('Error',error.response.data.message, 'error')
                this.mensaje = error.response.data.message
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'danger')
                this.$store.state.isLoading = false
            }
        })
    },
    initSession: async function(id){
    this.empresa.id = localStorage.setItem('idEmpresa', id);
    this.submitted = true;
        this.$store.state.isLoading = true

            let params = {
                    Email : this.$session.getAll()['[object Object]'].data.Email,
                    IdEmpresa : id
            }
            HTTP.post('/api/Access/SelectEmpresa', params)
            .then(response => {
            this.login.response = response.data
            this.$store.state.isLoading = false
            if (response.data.success) {
                //alert(JSON.stringify())
                this.notificacion('Hecho! ',"Bienvenido "+response.data.nombre1+" "+response.data.apellido1)
                this.$session.start()
                localStorage.setItem('Token', response.data.data.Token )
                //alert(JSON.stringify(response.data.data))
                this.$session.set(response.data.data.token, response.data.data)
                window.location.href ='/home'
            }else{
                this.notificacion('Error!',response.data.message, 'error')
            }
            
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'error')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'error')
                    this.$store.state.isLoading = false
                }
                
            }) 
    },
    departamentos: function() {
      HTTP.get('api/departamentos')
        .then(response => {
        this.depto = response.data
        
        })
        .catch(error => {
            if (error.message !== "Network Error") {
                this.notificacion('Error',error.response.data.message, 'error')
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'error')
                this.$store.state.isLoading = false
            }
            
        })
    },
    municipios: function(id){
        HTTP.get('api/municipios/departamento/'+id.target.value)
        .then(response => {
        this.municipio = response.data
        })
        .catch(error => {
            if (error.message !== "Network Error") {
                this.notificacion('Error',error.response.data.message, 'error')
                this.$store.state.isLoading = false
            }else{
                this.notificacion('Error',error, 'error')
                this.$store.state.isLoading = false
            }
            
        })
    },
    b64toBlob: function (b64Data, contentType, sliceSize) {
            contentType = contentType || '';
            sliceSize = sliceSize || 6000;

            var byteCharacters = atob(b64Data);
            var byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                var slice = byteCharacters.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

        var blob = new Blob(byteArrays, {type: contentType});
        return blob;
    },
    MostarFormEmpresa: function(estado){
        this.empresa.view = estado;
    },
    uploadImg: function(){
        this.$refs.btn_modal_imagen.click()
    },
    saveClicked: function saveClicked() {
        var img = this.$refs.vueavatar.getImageScaled();
        this.$refs.image.src = img.toDataURL();
        this.$refs.close_modal.click()
    },
    onImageReady: function onImageReady() {
        this.scale = 1;
        this.rotation = 0;
    },
    handlerError(message, type, xhr) {
      this.message = "Oops! Something went wrong..."+message+type+xhr;
    },
    ...mapActions(['saveRegister1'])
  }
}
</script>