<template>
    <div>
        <form @submit.prevent="saveRegister" v-if="this.view === 'register'" class="container container-signup animated fadeIn">
            <p class="text-center">
                <img src="@/assets/img/leafs.svg" width="200px" alt="">
            </p>
            <hr>
            <h1 class="text-center">Regístrate </h1>
            <div class="login-form">
                <div class="form-group form-floating-label">
                    <input v-model="register.id" @keypress="onlyForCurrency" maxlength="10" id="id" name="id" type="text" class="form-control input-border-bottom" required>
                    <label ref="identificacion" for="id" class="placeholder">Número de Identificación</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-floating-label">
                            <input v-model="register.nombre1"  id="nombre1" name="nombre1" type="text" class="form-control input-border-bottom" required>
                            <label for="nombre1" class="placeholder">Primer Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-floating-label">
                            <input v-model="register.nombre2"  id="nombre2" name="nombre2" type="text" class="form-control input-border-bottom" required>
                            <label for="nombre2" class="placeholder">Segundo Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-floating-label">
                            <input v-model="register.apellido1"  id="apellido1" name="apellido1" type="text" class="form-control input-border-bottom" required>
                            <label for="apellido1" class="placeholder">Primer Apellido</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-floating-label">
                            <input v-model="register.apellido2"  id="apellido2" name="apellido2" type="text" class="form-control input-border-bottom" required>
                            <label for="apellido2" class="placeholder">Segundo Apellido</label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-floating-label">
                    <input v-model.trim="$v.register.email.$model"  id="email" name="text" type="email" class="form-control input-border-bottom" required>
                    <label for="email" class="placeholder">Email</label>
                </div>

                <div class="text-danger" v-if="!$v.register.email.email">Email no válido.</div>

                <div class="form-group form-floating-label">
                    <input v-model.trim="$v.register.password.$model"  id="password" name="password" type="password" class="form-control input-border-bottom" required>
                    <label for="password" class="placeholder">Contraseña</label>
                    <div class="show-password">
                        <i class="flaticon-interface"></i>
                    </div>
                </div>

                <div class="text-primary" v-if="!$v.register.password.minLength">La contraseña debe tener mínimo {{ $v.register.password.$params.minLength.min }} caracteres.</div>

                <div class="form-group form-floating-label">
                    <input id="confirmpassword" v-model.trim="$v.register.repeatPassword.$model" name="confirmpassword" type="password" class="form-control input-border-bottom" required>
                    <label for="confirmpassword" class="placeholder">Confirmar Contraseña</label>
                    <div class="show-password">
                        <i class="flaticon-interface"></i>
                    </div>
                </div>
                <div class="text-primary" v-if="!$v.register.repeatPassword.sameAsPassword">La contraseña no coincide.</div>

                <div class="row form-sub m-0">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="agree" id="agree">
                        <label class="custom-control-label" for="agree">Acepto los terminos y condiciones.</label>
                    </div>
                </div>
                <div class="row form-sub m-0">
                    <vue-recaptcha @verify="markRecaptchaAsVerified"
                        sitekey="6Le-wvkSAAAAAPBMRTvw0Q4Muexq9bi0DJwx_mJ-">
                    </vue-recaptcha>
                </div>
                <div class="form-action">
                    <a href="/login" id="show-signin" class="btn btn-danger btn-rounded btn-login mr-3">Cancelar</a>
                    <button class="btn btn-secondary btn-rounded btn-login" type="submit">Regístrate</button>
                </div>
            </div>
        </form>
        <div v-else-if="this.view === 'sendEmail'">
            <sendmail v-bind:msg="this.register.email"></sendmail>
        </div>
    </div>
</template>
<script>
import {HTTP} from '@/http-common'
import { mapActions } from 'vuex'
import sendmail from '@/components/login/sendMail.vue'
import VueRecaptcha from 'vue-recaptcha'
import { required, sameAs, minLength, email } from 'vuelidate/lib/validators'
import store from '@/store'

export default {
    name: 'register',
    store,
    components:{
        sendmail,
        VueRecaptcha
    },
    data (){
        return{
            view : 'register',
            register:{
                id:'',
                nombre1:'',
                nombre2:'',
                apellido1:'',
                apellido2:'',
                email:'',
                password: '',
                repeatPassword: '',
                recaptchaVerified: false,
                pleaseTickRecaptchaMessage: '',
                response: []
            },
            submitStatus: null
        }
    },
    validations: {
        register:{
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            },
            repeatPassword: {
                sameAsPassword: sameAs('password')
            }
        }
    },
    props: {
        notificacion: { type: Function },
    },
    mounted() {
        
    },
    methods: {
    saveRegister: async function(){
    this.submitted = true;

        // stop here if form is invalid
        this.$v.$touch();
        if (this.$v.$invalid) {
           this.notificacion('<h3>Error</h3>','Asegurese que todos los campos esten correctamente diligenciados.', 'danger')
        }else{
            if (!this.register.recaptchaVerified) {
                this.register.pleaseTickRecaptchaMessage = 'Por favor marque el reCaptcha.';
                this.notificacion('Advertencia',this.register.pleaseTickRecaptchaMessage, 'warning')
                return true; // prevent form from submitting
            }

            this.$store.state.isLoading = true
    
            let params = {
                    identificacion : this.register.id,
                    nombre1 : this.register.nombre1,
                    nombre2 : this.register.nombre2,
                    apellido1 : this.register.apellido1,
                    apellido2 : this.register.apellido2,
                    email : this.register.email,
                    password : this.register.password
            }
            HTTP.post('api/account', params)
            .then(response => {
            this.register.response = response.data
            this.$store.state.isLoading = false
            this.view = 'sendEmail'
            //this.notificacion('titulo',response.data)
            })
            .catch(error => {
                if (error.message !== "Network Error") {
                    this.notificacion('Error',error.response.data.message, 'danger')
                    this.$store.state.isLoading = false
                }else{
                    this.notificacion('Error',error, 'danger')
                    this.$store.state.isLoading = false
                }
                
            }) 

        }
    },
    markRecaptchaAsVerified() {
      this.register.pleaseTickRecaptchaMessage = '';
      this.register.recaptchaVerified = true;
    },
    checkIfRecaptchaVerified() {
      
    },
    onlyForCurrency ($event) {
      // console.log($event.keyCode); //keyCodes value
      let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
 
      // only allow number and one dot
      if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || this.price.indexOf('.') != -1)) { // 46 is dot
       $event.preventDefault();
      }
 
      // restrict to 2 decimal places
      if(this.price!=null && this.price.indexOf(".")>-1 && (this.price.split('.')[1].length > 1)){
      $event.preventDefault();
      }
    },
    goLogin: function() {
      this.view = 'login'
    },
    ...mapActions(['saveRegister1'])
    }, 
}
</script>