<template>
    <div  class="wrapper ">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row justify-content-center align-items-center" >
            <div class="col-md-5 pl-md-0 pr-md-0">
                <div class="card card-pricing card-pricing-focus card-primary" style="background-color:#716ACA">
                    <div class="card-header">
                        <h4 class="card-title">Confirme su Email</h4>
                        <div class="card-price">
                            <span class="price"><i class="flaticon-user-4"></i></span>
                        </div>
                        <p>
                            Hemos enviado un enlace a su correo electrónico, para evitar el correo no deseado, deberá confirmar su correo electrónico para poder iniciar sesión.
                        </p>
                    </div>
                    <div class="card-body">
                        <p >
                            <b>Correo electrónico: </b>{{msg}}, <b>Sitio </b>  www.leaf.com.co.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/login" class="btn btn-light btn-block"><b>Volver a la página principal</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'sendmail',
    props: {
        msg: String
    },    
}
</script>