<template>
  <div id="app" >
        <div v-if="(this.$route.path.trim() === '/login')
        || (this.$route.path.trim() === '/login/menuempresas') 
        || (this.$route.path.trim() === '/register') 
        || (this.$route.path.trim() === '/sendmail') 
        || (this.$route.path.trim() === '/recover') 
        || (this.$route.path.trim() === '/sendmailrecover') 
        || (this.$route.path.trim() === '/accountactive')
        || (this.$route.path.trim() === '/resetpassword')
        || (this.$route.path.trim() === '/activarinvitado')">
          <loading :active.sync="isLoading"></loading>
            <div v-if="(this.$route.path.trim() === '/login') || (this.$route.path.trim() === '/register') || (this.$route.path.trim() === '/sendmail') ">
              <login :notificacion="notificacion" ></login>
            </div>
            <div v-else-if="(this.$route.path.trim() === '/login/menuempresas')">
              <menuempresas :notificacion="notificacion"></menuempresas>
            </div>
            <div v-else-if="(this.$route.path.trim() === '/recover') || (this.$route.path.trim() === '/sendmailrecover')">
              <recover :notificacion="notificacion" ></recover>
            </div>
            <div v-else-if="(this.$route.path.trim() === '/accountactive')">
              <accountactive></accountactive>
            </div>
            <div v-else-if="(this.$route.path.trim() === '/resetpassword')">
              <ResetPassword :notificacion="notificacion"></ResetPassword>
            </div>
            <div v-else-if="(this.$route.path.trim() === '/activarinvitado')">
              <mensajeInvitacion :notificacion="notificacion"></mensajeInvitacion>
            </div>
        </div>
        <div v-else >
            <loading :active.sync="isLoading"></loading> 
            <Menu :logout="logout"></Menu>
            <router-view :notificacion="notificacion" @ActualizarComponente="updatecomponent = $event"></router-view>
            {{updatecomponent}}
        </div>
        <notifications position="bottom right" group="foo" />
  </div>
</template>
<script src="~/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="@/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="@/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script>
// @ is an alias to /src
import Menu from '@/components/Menu.vue'
import Login from '@/components/login/Login.vue'
import menuempresas from '@/components/login/menuempresas.vue'
import recover from '@/components/recover/recover.vue'
import accountactive from '@/components/login/accountactive.vue'
import ResetPassword from '@/components/recover/ResetPassword.vue'
import mensajeInvitacion from '@/components/invitacion/mensajeinvitacion.vue'
import store from '@/store'
import { mapState } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
const signalR = require('@aspnet/signalr')
export default {
  name: 'app',
  components: {
    Menu,
    Login,
    menuempresas,
    recover,
    Loading,
    accountactive,
    ResetPassword,
    mensajeInvitacion
  },
  data(){
      return {
          connection : '',
          updatecomponent : 'hola'
      }
  },
  created: function () {

    if (this.$session.exists()) {
        try {
            if (this.$session.getAll().undefined.Token) {
              this.connection = new signalR.HubConnectionBuilder().withUrl('http://192.168.1.100:5000/api/notifications', {accessTokenFactory: () => this.token = this.$session.getAll().undefined.Token}).configureLogging(signalR.LogLevel.Information).build()
              this.connection.start().catch(function (err) {
                return console.error(err.toString());
              }) 
            }
        } catch (e) {
            console.log(e)
            //window.location.href ='/login'
        }
    }
  },
  computed:{
        activeSection(){ return this.updatecomponent }
  },
  mounted() {
    if (this.$session.exists()) {
        try {
            if (this.$session.getAll().undefined.Token) {
              let thisVue = this
              thisVue.connection.on("RecibeMensaje", function (count) {
                alert(count)
              })
            }
        } catch (e) {
            console.log(e)
            //window.location.href ='/login'
        }
    }else{
      this.logout
    }
  },
  computed: {
    ...mapState(['isLoading']),
    count () {
      return store.getters.doneTodos
    },
    count2(){
      return store.state.todos
    },
  },
  methods: {
    notificacion: function(title, text, type) {
      $.notify({
        icon: 'flaticon-alarm-1',
        title: title,
        message: text,
      },{
        type: type,
        placement: {
          from: "bottom",
          align: "right"
        },
        time: 1000,
      });
    },
    logout: function () {
      this.$session.destroy()
      localStorage.clear()
      window.location.href = "/login"
    }
  },
}
</script>

